{% extends "_layout-profile.twig" %}

{% block title %}{{ data.username }}{% endblock %}

{% set selected_tab = "uploads" %}

    {% block content %}
        <div class="card mb-2">
            <div class="card-body">
                <h3>{{ localize('uploads') }}</h3>
                {% for upload in data.uploads %}
                    {{ include('/components/smallvideobox.twig') }}
                {% else %}
                    <p>There are currently no uploads by {{ data.username }}.</p>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
