{% extends "_layout.twig" %}

{% block title %}Write{% endblock %}

	{% block content %}
        <h3>Write</h3>
        <form name="uploadForm" id="uploadForm" method="post" action="write"
              enctype="multipart/form-data">
            <input type="text" class="form-control mb-1" name="title" value="" placeholder="Title">
            <textarea class="form-control mb-1" name="desc" maxlength="2000" form="uploadForm"
                      style="overflow:hidden;resize:none" rows="6" placeholder="Contents"></textarea>
            <br>

            <div class="text-end">
                <input class="btn btn-primary" type="submit" id="upload" name="upload"
                       value="Post">
            </div>
        </form>
    {% endblock %}
